<!DOCTYPE html>
<html  ng-app="app">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Antonino C.Gama">

    <title>Blue Dental</title>

    <!-- Bootstrap Core CSS -->
    <link href="../src/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../src/assets/css/sidermenu.css" rel="stylesheet">
    <link href="../src/assets/css/style.css" rel="stylesheet">
    <link href="../src/assets/css/croppic.css" rel="stylesheet">
      <link rel='stylesheet prefetch' href='http://cdn.rawgit.com/CrackerakiUA/ui-cropper/master/compile/minified/ui-cropper.css'>



</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper"  ng-app="app" ng-controller="Ctrl">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <img src="../src/img/logo_.png" alt="">
                </li>
                <li>
                    <a href="../index.html"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Atividade 01</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Atividade 02</a>
                </li>
                <li>
                    <a href="atividade3.html"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Atividade 03</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>      
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Especialidades</a></li>
                  </ul>
                  <ul class="nav navbar-nav text">
                    <h4>Terça-feira, 30 de Maio de 2017</h4>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><img class="logo" src="../src/img/logo_.png" alt="" width="120" height="50"></li>
                    <li class="active"><a href="" class="btn btn-default"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Ajuda</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
        <!-- /#page-content-wrapper -->
      <br><br>
      <div class="container">
        <div class="content">
          <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
              <div class="panel-heading"><h4 class="text-center">Cadastro</h4></div>
              <div class="panel-body">
                <form class="form">
                  <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" id="name" class="form-control" required autofocus>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="name" class="form-control" required autofocus>
                  </div>
                  <div class="form-group">
                    <table ng-controller="Ctrl">
                    <td>
                      <div>Selecionar imagem: <input type="file" id="fileInput" /></div><br>
                      <button ng-click="callTestFuntion()">Renderizar</button>
                      <div class="cropArea">
                        <ui-cropper image="myImage" area-type="rectangle" result-image="myCroppedImage" live-view="blockingObject"></ui-cropper>
                      </div>
                    </td>
                    <td>
                      <div>Imagem renderizada:</div>
                      <div><img ng-src="{{myCroppedImage}}" /></div>
                    </td>
                  </table>
                  </div>
                  <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
              </div>
            </div>
           </div> 
        </div>
      </div>

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../src/lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../src/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Drop Drag'n -->
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>

    <script src='http://rawgit.com/CrackerakiUA/ui-cropper/master/compile/unminified/ui-cropper.js'></script>

      <!-- Controller cRAP -->
       <script src="../controllers/ImageCroped.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


</body>

</html>
