<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blue Dental</title>

    <!-- Bootstrap Core CSS -->
    <link href="../src/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../src/assets/css/sidermenu.css" rel="stylesheet">
    <link href="../src/assets/css/style.css" rel="stylesheet">
    <link href="../src/assets/css/croppic.css" rel="stylesheet">



</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <img src="../src/img/logo_.png" alt="">
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Atividade 01</a>
                </li>
                <li>
                    <a href="componnents/atividade2.html"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Atividade 02</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Atividade 03</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>      
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Especialidades</a></li>
                  </ul>
                  <ul class="nav navbar-nav text">
                    <h4>Terça-feira, 30 de Maio de 2017</h4>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><img class="logo" src="../src/img/logo_.png" alt="" width="120" height="50"></li>
                    <li class="active"><a href="" class="btn btn-default"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Ajuda</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
        <!-- /#page-content-wrapper -->
            <br><br>
            <div class="container">
              <div class="content">
                  <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="text-center">Cadastro</h4></div>
                    <div class="panel-body">
                  <form class="form col-md-6 col-md-offset-3">
                      <div class="form-group">
                          <label for="name">Nome</label>
                            <input type="text" id="name" class="form-control" required autofocus>
                      </div>
                      <div class="form-group">
                          <label for="clinic">Clinica</label>
                            <input type="text" id="clinic" class="form-control" required autofocus>
                      </div>
                      <div class="form-group">
                          <label for="turn">Horário</label>
                            <input type="time" id="turn" class="form-control" required autofocus>
                      </div>
                      <div class="form-group">
                          <label for="date">Data</label>
                            <input type="date" id="date" class="form-control" required autofocus>
                      </div>
                      <button class="btn btn-primary text-center" type="submit">Salvar</button>
                        <br>
                        <br>
                  </form>

                  <div class="text-center col-md-8 col-md-offset-2">
                    <table class="table table-hover table-bordered ">
                      <thead>
                        <tr>
                          <th class="text-center">Nome</th>
                          <th class="text-center">Clinica</th>
                          <th class="text-center">Horário</th>
                          <th class="text-center">Data</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                      </tbody>
                      <tfoot>
                        
                      </tfoot>
                    </table>
                    <script src="../index.js"></script>
                  </div>
              </div>
           </div>

           </div>
           </div>
           </div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../src/lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../src/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Drop Drag'n -->
     <script src="../src/assets/js/croppic.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


</body>

</html>
